<h1>Edit <%= @league.name %></h1>
  
  <form action="/leagues/<%= @league.id %>" method="post">
    <label>Change league name</label>
    <input type="text" name="name">
    <input type="submit" value="Update">
  </form>