<h2>League:</h2>
  <%= @league.name %>
<h3>Teams:</h3>
  <ul>
  <% @league.teams.each do |team| %>
    <li><a href="/teams/<%= team.id %>"><%= team.name %></a></li>
  <% end%>
  </ul>

  <h2>Add teams</h2>
    <form action="/teams" method="post" >
    <input type="hidden" name="league_id" value=<%=@league.id %>>
      <input type="text" name="name"> <br>
      <input type="submit" value="Create">
    </form><br>

<a href="/leagues">Home</a><br>