<h1>Add New Players</h1>

<form action="/players" method="post">
  <label>Player Name:</label>
  <input type="text" name="name">
  <label>Position:</label>
  <input type="text" name="position">
  <label>Jersey Number:</label>
  <input type="tel" name="jersey_number"><br>
  <label>Player Name:</label>
  <input type="text" name="name"> 
  <label>Position:</label>
  <input type="text" name="position">
  <label>Jersey Number:</label>
  <input type="tel" name="jersey_number"><br>
  <label>Player Name:</label>
  <input type="text" name="name"> 
  <label>Position:</label>
  <input type="text" name="position">
  <label>Jersey Number:</label>
  <input type="tel" name="jersey_number"><br>
  <label>Player Name:</label>
  <input type="text" name="name">
  <label>Position:</label>
  <input type="text" name="position">
  <label>Jersey Number:</label>
  <input type="tel" name="jersey_number"> <br>
  <label>Player Name:</label>
  <input type="text" name="name">
  <label>Position:</label>
  <input type="text" name="position">
  <label>Jersey Number:</label>
  <input type="tel" name="jersey_number"> <br>
  <label>Player Name:</label>
  <input type="text" name="name">
  <label>Position:</label>
  <input type="text" name="position">
  <label>Jersey Number:</label>
  <input type="tel" name="jersey_number"> <br>
  <label>Player Name:</label>
  <input type="text" name="name">
  <label>Position:</label>
  <input type="text" name="position">
  <label>Jersey Number:</label>
  <input type="tel" name="jersey_number"> <br>
  <label>Player Name:</label>
  <input type="text" name="name">
  <label>Position:</label>
  <input type="text" name="position">
  <label>Jersey Number:</label>
  <input type="tel" name="jersey_number"> <br>
  <label>Player Name:</label>
  <input type="text" name="name">
  <label>Position:</label>
  <input type="text" name="position">
  <label>Jersey Number:</label>
  <input type="tel" name="jersey_number"> <br>
  <label>Player Name:</label>
  <input type="text" name="name">
  <label>Position:</label>
  <input type="text" name="position">
  <label>Jersey Number:</label>
  <input type="tel" name="jersey_number"> <br>
  <label>Player Name:</label>
  <input type="text" name="name">
  <label>Position:</label>
  <input type="text" name="position">
  <label>Jersey Number:</label>
  <input type="tel" name="jersey_number"> <br>
  <label>Player Name:</label>
  <input type="text" name="name">
  <label>Position:</label>
  <input type="text" name="position">
  <label>Jersey Number:</label>
  <input type="tel" name="jersey_number"> <br>
  <input type="submit" value="Create">
</form>